
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: normal;
    font-family: 'Open Sans', sans-serif;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.jumbotron{
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
    background-color: #EEEEA7;
}

/*Table styling*/
.responsive-table table{
    width: 100%;
    table-layout: fixed;
    transition: all 0.3s;
    min-width: 700px;
}
.responsive-table table th{
    text-transform: uppercase;
    font-weight: bold;
}
.responsive-table table td, .responsive-table table th{
    border: 1px #cccccc solid;
    padding: 10px;
    font-size: 12px;
}
.responsive-table table td:last-child{
    text-align: right;
}
.header{
    padding: 10px 0px;
}
.header input[type=text]{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
}

/*responsive*/
@media only screen and (max-width: 700px) {

    .responsive-table{
        overflow-X:auto;
    }

}